*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button{
    font-family: Open sans;
}

/* inizio header*/
.row-header{
    display: flex;
    width: 100%;
    align-items: first baseline;
    padding: 15px 10px 10px 15px; 
}

.column-header{
    width: 50%;  
}

.c-h-2{
    text-align: right;  
}

.logo-header{
    transform: translate(0px, 20%);
}

.span-header{
    padding: 0px 10px 0px 10px;
}

.bottone-bianco{
    padding: 5px;
    background-color: white;
}

.bottone-blu{
    padding: 5px ;
    background-color: blue;
    color: white;
}

/* fine header */
/* inizio main*/

.container-main{
    width: 100%;
}

/* Inizio section 1*/

.section-1{
    width: 100%;
    background-color: rgba(16, 162, 182, 0.759);
}

.container-section-1{
    width: 75%;
    margin: 0 auto;
    padding-top: 5%;
}

.row-section-1-1{
    display: flex;
}

.column-section-1-1-1{
    width: 100%;
    display: flex;
}

.row-section-1-2{
    display: flex;
}

.column-section-1-2-1{
    width: 35%;  
    padding-top: 4%;
}

.column-section-1-2-2{
    width: 65%;
}

.titolo-s-1{
    font-size: 75px;
    color:rgb(2, 2, 32);
}

.bs1{
    padding: 10px 10px 10px 10px ;
    margin: 30px 0px 30px 0px;
}

.img-section-1{
   max-width: 105%;
    height: auto;
    transform: translate(0%, +10%);
    display: flex;
}
.fa-solid{
    padding-top: 20%;
}
p{
    font-size: 17px;
}
/* fine section 1*/
/* inizio section 2*/

.section2{
    width: 100%;
}

.container-section-2{
    width: 60%;
    margin: 10% auto;  
}

/* inizio prima parte section2 */
.row-section-2-1{
     
}

.column-section-2-1-1{
    display: flex;
}

.column-section-2-1-2{
    display: flex;
}
.titolo-s-2{
    font-size: 40px;
    padding:20px 0px 20px 0px ;
}

/* fine prima parte section 2 */
/* inizio seconda parte section2 */

.row-section-2-2{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.column-section-2-2-1{
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    border-style: solid;

}

.column-section-2-2-2{
    width: calc(100% / 3 - 10px);
    margin: 0px 5px 0px 5px;
    border-style: solid;
}

.column-section-2-2-3{
    width: calc(100% / 3 - 10px);
    margin: 0px 5px 0px 15px;;
    border-style: solid;
}
.titolo-row-2{
    margin: 0 auto;
    margin-bottom: 5px;
}
.content-2-2-1{
    display: flex;
    border-bottom: solid;
}
.content-2-2-1-2{
    padding: 10PX;
}
.span{
    padding: 10px 0px 10px 0px;
}
.db{
    display: block;
}
.primo-2-2{
    font-size: 30px;
    padding-top: 10px;
}
.terzo-2-2{
    color: gainsboro;
}
.bs2{
    padding: 5% 20%;
    margin: 30px 0px 30px 0px;
}

.bs2-2{
    padding: 5% 38%;
    margin: 30px 0px 30px 0px;
}

hr{
    margin-top: 25%;
    width: 30%;
    color: gray;
}
/* fine seconda parte section 2 */
/* inizio terza parte section2 */

.row-section-2-3{
    display: flex;
    border-style: solid;
    margin: 20px 0px 20px 0px;
    flex-direction: column;
    
}

.column-section-2-3-1{
    display: flex;
    border-bottom: solid;
}

.column-section-2-3-2{
    position: relative;
    padding: 10px;
}
.bs3{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
}

/* fine terza parte section 2 */
/* fine section 2*/
/* inizio section 3 */

.section-3{
    width: 100%;
}

.container-section-3{
    width: 60%;
    margin: 0 auto;
}

.row-section-3-1{
    display: flex;
}

.column-section-3-1-1{
    width: 60%;
    background-size: 100% 100%;
    background-image: url(../img/partner.png);
    height: auto;
}

.column-section-3-1-2{
    width: 40%;
    padding: 40px 0px 100px 40px;
}

.bottone-sec3{
    border: solid;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
}
/* fine section 3 */
/* inizio section 4 */

.section-4{
    width: 100%;
    height: auto;
}

.container-section-4{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

.row-section-4-1{
    display: flex;
    height: 100px;
    width: 100%;
}

.column-section-4-1-1{
    width: 100%;
}

.row-section-4-2{
    display: flex;
    height: 1100px;
    width: 100%;
    flex-wrap: wrap;
}

.column-section-4-2-1{
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.column-section-4-2-2{
    width: calc(100% / 3 - 10px);
    margin:0px 5px 0px 5px;
    
}

.column-section-4-2-3{
    width: calc(100% / 3 - 10px);
    margin-left: 10px;
    
}

.column-section-4-2-4{
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    
}

.column-section-4-2-5{
    width: calc(100% / 3 - 10px);
    margin:0px 5px 0px 5px;
    
}

.column-section-4-2-6{
    width: calc(100% / 3 - 10px);
    margin-left: 10px;
    
}

.content-4-2{
    height: 40%;    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
}
.content-4-2-1{
    height: 60%;
}
.img-1{
    
    background-image: url(../img/business-feature-switching-tools.png);
}
.img-2{
    
    background-image: url(../img/business-feature-send-files-it.png);
}
.img-3{
    background-image: url(../img/business-feature-coordinate-it.png);
}
.img-4{
    
    background-image: url(../img/business-feature-integrations-it.png);
}
.img-5{
    background-image: url(../img/business-feature-multi-device.png);
}
.img-6{
    
    background-image: url(../img/business-feature-security.png);
}

/* fine section 4 */
/* inizio section 5*/
.section-5{
    width: 100%;
    height: 100%;
}
.container-section-5{
    width: 60%;
    margin: 20px auto;
    display: flex;
}
.row-section-5-1{
    width: 100%;
    display: flex;
}
.column-footer-5-1-1{
    width: 100%;
    display: flex;
}
.sec-5{
    font-size: 40px;
}
/* fine section 5 */
/* inizio section 6*/
.section-6-1{
    width: 100%;
    
}
.container-section-6{
    margin: 20px 0px 0px 0px;
}

.row-section-6-1{
    width: 100%;
    height: 400px;
    display: flex;
}

/* inizio prima parte section 6 */
.column-section-6-1-1{
    width: 33%;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
}

.content-6-1-1-1{
    width: 50%;
    height: 50%;
    background-image: url(../img/designit.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: greenyellow;
}

.content-6-1-1-2{
    width: 50%;
    height: 50%;
    background-image: url(../img/arizona_state_university.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:brown;
}

.content-6-1-1-3{
    width: 50%;
    height: 50%;
    background-image: url(../img/university_of_florida.svg);
    background-size:50% 25%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(0, 174, 255);
}

.content-6-1-1-4{
    width: 50%;
    height: 50%;
    background-image: url(../img/topps.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: red;
}

/* fine prima parte section 6 */
/* inizio seconda parte section 6 */
.column-section-6-1-2{
    width: 34%;
    background-image: url(../img/designit.svg);
    background-repeat: no-repeat;
    background-position: left +20px top +20px;
    background-size:50% 20%;
    background-color: gainsboro;
}
.content-6-1{
    padding: 80px 0px 80px 0px;
}
.p-6-1{
    padding: 20px;
}
/* fine seconda parte section 6 */
/* inizio terza parte section 6 */
.column-section-6-1-3{
    width: 33%;
    background-color: lightpink;
    display: flex;
    flex-wrap:wrap ;
}

.content-6-1-3-1{
    width: 50%;
    height: 50%;
    background-image: url(../img/world_bicycle_relief.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(228, 61, 61);
}
.content-6-1-3-2{
    width: 50%;
    height: 50%;
    background-image: url(../img/hearst_corp.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(40, 147, 201);
}

.content-6-1-3-3{
    width: 50%;
    height: 50%;
    background-image: url(../img/lonely_planet.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: blue;
}

.content-6-1-3-4{
    width: 50%;
    height: 50%;
    background-image: url(../img/clear_channel.svg);
    background-size:50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: yellow;
}
/* fine terza parte section 6 */
/* fine section 6 */
/* inizio section 7 */
.section-7{
    width: 100%;
    background-color: rgba(16, 162, 182, 0.759);
}

.row-section-7-1{
    width: 100%;
    display: flex;
}
.column-7-1-1{
    width: 60%;
    display:flex;
}

.column-7-1-2{
    width: 40%; 
    display: flex;
}

.font-sec-7{
    font-size: 40px;
    color: brown;
    margin: 0 auto;
    padding: 10% 0% 10% 0%;
}
.bottone-sec-7{
    padding: 5px 10px 5px 10px;
    background-color: white;
    
}
.content-col-7-2{
    padding:20% 0% 20% 0%;
}
/* fine section 7 */
/* inizio section 8 */
.section-8{
    width: 100%;
}
.row-section-8-1{
    width: 60%;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
}

.row-column-8-1-1{
    height: 25%;
    border-bottom: solid;
    padding: 5% 0 5% 0;
}

.row-column-8-1-2{
    height: 25%;
    border-bottom: solid;
    padding: 5% 0 5% 0;
}

.row-column-8-1-3{
    height: 25%;
    border-bottom: solid;
    padding: 5% 0 5% 0;
}

.row-column-8-1-4{
    height: 25%;
    border-bottom: solid;
    padding: 5% 0 5% 0;
}

/* fine section 8 */
/* fine main */
/* inizio footer */
.container-footer{
    background-color: black;
    width: 100%;
    color: white;
}
/* prima riga footer*/
.row-footer-1{
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.column-footer{
    width: 20%;
    display: flex;  
}

ul{
    margin: 0 auto;
} 

li{
    list-style-type: none; 
}

.size{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

/* fine prima riga footer */

/* inizio seconda riga footer*/
.row-footer-2{
    width: 75%;
    margin: 0 auto;
    background-color:rgb(0, 0, 0);
    padding: 40px 0px 40px 0px;
    display: flex;
    
}

.column-footer-1-2{
    width: 20%;
    
}   

.white{
    border-top: solid rgb(255, 255, 255);
    width: 75%;
    margin: 0 auto;
}

.content-footer{
    padding: 40px 0px 40px 0px;
    display: flex;
}

/* fine seconda riga footer */

/* fine footer */